* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --primary: rgb(8, 115, 209);
    --black: #000;
    --white: #FFF;
}
.header {
    background-image: url(./img/imagem.jpg);
    padding: 1.5rem;;
}
header h1 {
    color: var(--white);
    text-align: center;
}
/* header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: var(--primary);
    padding: 0.1rem;
    text-align: center;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
header nav ul li {
    padding-right: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: larger;
} */
header nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
}
header nav ul {
    list-style-type: none;
    display: flex;
}
header nav ul li {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline: 2rem;
}
header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: large;
}
main.inicio div {
    margin: 0.5rem;
}
main.inicio div h3 {
    padding: 0.6rem;
}
/* Tabela */
main.tabela caption {
    margin-top: 1rem;
}
table {
    margin: auto;
    margin-bottom: 3rem;
    table-layout: fixed;
}
table tbody tr td.mat{
    text-align: left;
}
table tbody tr td {
    text-align: center;
}
table tr th, table tr td {
    border: 0.1rem solid black;
    padding: 1rem;
}
table{
    border-collapse: collapse;
}
footer {
    background-color: var(--primary);
    height: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer div {
    color: var(--white);
    padding: 0.4rem;
}