* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --primary: rgb(8, 115, 209);
    --black: #000;
    --white: #FFF;
}
.header {
    background-image: url(./img/banner.jpeg);
    padding: 2rem;
}
header h1 {
    color: var(--white);
    text-align: center;
    text-shadow: 1.5px 1px var(--black);
}
header nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
}
header nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
header nav ul li {
    padding: 0.2rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: x-large;
}
main.inicio div {
    margin: 0.5rem;
}
main.inicio div h3 {
    padding: 0.6rem;
}
main.inicio div.um p {
    text-align: justify;
}
main.inicio div.dois ol li {
    margin-left: 1.5rem;
    text-align: justify;
    list-style-type: upper-roman;
}
main.inicio div.tres ol li {
    margin-left: 1.5rem;
    list-style-type: square;
}
/* Tabela */
main.tabela caption {
    margin-top: 1rem;
}
table {
    margin: auto;
    margin-bottom: 3rem;
    table-layout: fixed;
}
table tbody tr td.mat{
    text-align: left;
}
table tbody tr td {
    text-align: center;
}
table tr th, table tr td {
    border: 0.1rem solid var(--black);
    padding: 1rem;
}
table{
    border-collapse: collapse;
}
/* Âncora */
section {
    margin: 0.5rem;
}
section ol li {
    margin: 1rem;
}
section ol li a {
    text-decoration: none;
    color: var(--black);
}
#resposta1 a {
    text-decoration: none;
    color: var(--black);
}
#resposta2 a {
    text-decoration: none;
    color: var(--black);
}
#resposta3 a {
    text-decoration: none;
    color: var(--black);
}
footer {
    background-color: var(--primary);
    height: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer div {
    color: var(--white);
    padding: 0.4rem;
}